---
import Layout from "../../layouts/Layout.astro";
import BlogHeader from "../../components/BlogHeader.astro";
import ContentHead from "../../components/ContentHead.astro";
---

<Layout title="Blog - Jorge Ãlvarez">
  <BlogHeader activeNavItem="blog" />
  <main class="relative">
    <ContentHead title="Blog" excerpt="Where I put some thoughs and experiences about multiple things" />
  </main>
</Layout>