---
import Layout from "../layouts/Layout.astro";
import BlogHeader from "../components/BlogHeader.astro";
import ContentHead from "../components/ContentHead.astro";
---

<Layout title="Contact - Jorge Ãlvarez">
  <BlogHeader activeNavItem="contact" />
  <main class="relative">
    <ContentHead title="Contact" excerpt="Here are many methods where we can get in touch" />
  </main>
</Layout>