---
export interface Props {
  title: string;
  excerpt?: string;
  date?: string;
}

const { title, excerpt, date } = Astro.props as Props;
---

<div class="max-w-2xl mx-auto px-4 sm:px-6 text-center">
  <h1 class="text-5xl mb-3 font-extrabold font-display">{title}</h1>
  {
  date && (
  <time datetime={date} class="mb-3 inline-block">
    {date}
  </time>
  )
  }
  {
  excerpt &&
  <p>{excerpt}</p>
  }
</div>