---
export interface Props {
  active?: string;
  withSocial?: boolean;
}

const { active, withSocial = false } = Astro.props as Props;
---

<nav class="nav">
  <a href="/about" class:list={[{ active: active=="about" }]} title="Get to know me a little">About
  </a>
  <a href="/blog" class:list={[{ active: active=="blog" }]}
    title="Where you can read some thoughs about multiple things">Blog
  </a>
  <a href="/contact" class:list={[{ active: active=="contact" }]}
    title="Do you want to talk, have idea or a project where I can help?">Contact
  </a>
  {
  withSocial && (
  <a href="https://github.com/jeam" title="My GitHub account">
    GitHub
  </a>
  )
  }
  {
  withSocial && (
  <a href="https://twitter.com/jeam" title="My Twitter account">
    Twitter
  </a>
  )
  }
  {
  withSocial && (
  <a href="https://www.linkedin.com/in/jorgealvarezm/" title="My LinkedIn account">
    LinkedIn
  </a>
  )
  }
</nav>